
<!DOCTYPE html>
<html class="pixel-ratio-2 retina"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUI Mobile Demo</title>

    <link rel="stylesheet" href="stylesheets/sm.css">
    <link rel="stylesheet" href="stylesheets/sm-extend.css"> 
    <style>body {
        padding: 0;
        margin: 0;
        background: #222
    }</style>
  </head>
  <body><div class="page-group">
    <div id="page-nav-bar" class="page page-current">
  <header class="bar bar-nav">
     <a class="button button-nav pull-left back" href="/demos/bar">
      返回
    </a>
    <button class="button pull-right">
      停止
    </button>
    <h1 class="title">标题</h1>
  </header>
  <nav class="bar bar-tab">
    <a class="tab-item external" href="/index">
      <span class="icon icon-home"></span>
      <span class="tab-label">Label</span>
    </a>
    <a class="tab-item external" href="/hud">
      <span class="icon icon-star"></span>
      <span class="tab-label">Hud</span>
    </a>
    <a class="tab-item external active" href="#">
      <span class="icon icon-settings"></span>
      <span class="tab-label">Label</span>
    </a>
  </nav>
  <div class="content native-scroll">
     <div class="list-block">
      <ul>
        <li class="item-content">
          <div class="item-media"><i class="icon icon-f7"></i></div>
          <div class="item-inner">
            <div class="item-title">当次行程耗时</div>
            <div class="item-after">00：12：13</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"><i class="icon icon-f7"></i></div>
          <div class="item-inner">
            <div class="item-title">当次行程里程</div>
            <div class="item-after">15.8</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"><i class="icon icon-f7"></i></div>
          <div class="item-inner">
            <div class="item-title">车辆总里程</div>
            <div class="item-after">15.8</div>
          </div>
        </li>
      </ul>
    </div>

  </div>

</div>

    </div>

</body>

</html>