
<!DOCTYPE html>
<html class="pixel-ratio-2 retina"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="stylesheets/sm.css">
    <link rel="stylesheet" href="stylesheets/sm-extend.css"> 
  </head>
  <body><div class="page-group">
    <div id="page-nav-bar" class="page page-current">
  <header class="bar bar-nav">
     <a class="button button-nav pull-left back" href="/demos/bar">
      返回
    </a>
    <button class="button pull-right">
      停止
    </button>
    <h1 class="title">标题</h1>
  </header>
  <nav class="bar bar-tab">
    <a class="tab-item external active" href="#">
      <span class="icon icon-home"></span>
      <span class="tab-label">Label</span>
    </a>
    <a class="tab-item external" href="/hud">
      <span class="icon icon-star"></span>
      <span class="tab-label">Hud</span>
    </a>
    <a class="tab-item external" href="/detail">
      <span class="icon icon-settings"></span>
      <span class="tab-label">Label</span>
    </a>
  </nav>
  <div class="content native-scroll">
      <canvas id="gauge-speed"></canvas>
      <canvas id="gauge-spin"></canvas>
  </div>

</div>

    </div>
<script src="javascripts/gauge.js"></script>   
<script src="javascripts/work.js"></script>
</body>

</html>